body {
    background-color: #f2f2f2;
}

.login {
    width: 400px;
    position: relative;
    padding: 200px;
}

.login h2 {
    position: relative;
    bottom: 10px;
    font-size: 32px;
}

.login .code {
    width: 50%;
    float: left;
}

.login input {
    width: 100%;
}