<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.bbs.dao.MemberDao">

 	<resultMap type="com.bbs.pojo.Member" id="MemberMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="regIP" property="regIP"/>
		<result column="loginIP" property="loginIP"/>
		<result column="email" property="email"/>
		<result column="status" property="status"/>
		<result column="regTime" property="regTime"/>
		<result column="loginTime" property="loginTime"/>
        <result column="avatar" property="avatar"/>
        <result column="city" property="city"/>
        <result column="signature" property="signature"/>
	</resultMap>

    <resultMap type="com.bbs.pojo.Article" id="ArticleMap">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="type" property="type"/>
        <result column="user" property="user"/>
        <result column="addTime" property="addTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="view" property="view"/>
        <result column="star" property="star"/>
        <association property="member" javaType="com.bbs.pojo.Member">
            <result column="name" property="name"/>
            <result column="avatar" property="avatar"/>
        </association>
    </resultMap>
    <select id="getMemberById" resultMap="MemberMap">
        select * from bbs_member where id=#{id}
    </select>

	<insert id="insert">
            INSERT INTO bbs_member
            <trim	prefix="(" suffix=")" suffixOverrides=",">
                <if test="id!=null and id!=''">id,</if>
                <if test="name!=null and name!=''">name,</if>
                <if test="username!=null">username,</if>
                <if test="password!=null and password!=''">password,</if>
                <if test="regIP!=null and regIP!=''">regIP,</if>
                loginIP,
                <if test="email!=null">email,</if>
                status,
                <if test="regTime!=null">regTime,</if>
                loginTime,avatar,city,signature,
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id!=null and id!=''">#{id},</if>
                <if test="name!=null and name!=''">#{name},</if>
                <if test="username!=null">#{username},</if>
                <if test="password!=null and password!=''">#{password},</if>
                <if test="regIP!=null and regIP!=''">#{regIP},</if>
                #{loginIP},
                <if test="email!=null">#{email},</if>
                #{status},
                <if test="regTime!=null">#{regTime},</if>
                #{loginTime},${avatar},${city},${signature},
            </trim>
	</insert>

    <select id="login" resultMap="MemberMap">
        SELECT * FROM bbs_member where 1=1
        <if test="username!=null and username!=''">and username=#{username}</if>
        <if test="password!=null and password!=''">and password=#{password}</if>
        and status=0
    </select>

    <update id="update">
        UPDATE bbs_member
          <set>
              <if test="email!=null and email!=''">email=#{email},</if>
              name=#{name},city=#{city},signature=#{signature},
          </set>
        WHERE id=#{id}
    </update>

    <update id="updateAvatar">
        UPDATE  bbs_member
        <set>
            <if test="avatar!=null and avatar!=''">avatar=#{avatar},</if>
        </set>
        where id=#{id}
    </update>

    <!--修改用户密码事务-->
    <select id="updatePwd" useCache="false" statementType="CALLABLE" resultType="Integer" >
        <![CDATA[
          call updatePwd(
            #{id,mode=IN,jdbcType=VARCHAR},
            #{oldPass,mode=IN,jdbcType=VARCHAR},
            #{newPass,mode=IN,jdbcType=VARCHAR});
        ]]>
    </select>

    <!--个人主页-->
    <select id="getInfo"  resultMap="ArticleMap">
        select a.id,title,updateTime,user,b.name,b.avatar from bbs_article a
        inner join bbs_member b
        on a.user=b.id
        where a.user=#{user}
        order by updateTime desc
    </select>

    <select id="getIndexMember" resultMap="MemberMap">
       SELECT
            a.avatar,
            a.NAME,
            a.id,
            count( b.replyContent ) AS email
        FROM
            bbs_member AS a
            LEFT JOIN bbs_word b ON a.id = b.USER
        GROUP BY
            a.id
        ORDER BY
            email DESC
            LIMIT 0,
            20
    </select>

    <update id="updateLoginTimeAndIP">
        UPDATE bbs_member
        <set>
            <if test="loginIP!=null and loginIP!=''">loginIP=#{loginIP},</if>
            <if test="loginTime!=null and loginTime!=''">loginTime=#{loginTime},</if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="getUserInfo" resultMap="MemberMap">
        select name,avatar,signature,regTime from bbs_member where id=#{id}
    </select>
</mapper>